$mainColor1: #2987be;
$mainColor2: #1059b8;
$mainColor3: #4a1330;

* {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $mainColor3;
}

.coontainer {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__block {
        width: 150px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .time {
            background-color: $mainColor1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            height: 150px;
            font-size: 95px;
        }

        .title {
            background-color: $mainColor2;
            padding: 5px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            color: white;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;

    .button {
        border: none;
        border-radius: 10px;
        font-size: 18px;
        width: 180px;
        transition: .3s ease-in-out;
        cursor: pointer;
        padding: 10px;

        &.start,
        &.stop,
        &.recording {
            color: $mainColor1;

            &:hover {
                background-color: $mainColor2;
                color: white;
            }
        }

        &.pause {
            color: $mainColor2;
            &:hover {
                background-color: #e03b8b;
                color: white
            }

            ;
        }
    }
}

.results__block {
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 350px;
    background-color: #0e7476;
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
}